<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>友人帐</title>
  <link href="/static/images/xyavatar.ico" th:href="@{/images/xyavatar.ico}" rel="icon" type="image/x-ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="/static/css/me.css" th:href="@{/css/me.css}">
</head>
<body class="friendBody">

<!--导航-->
<nav class="gird-header">
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <a href="#" th:href="@{/}"><h2 class="ui olive header item" style="font-family: STSong">某洋</h2></a>
      <a href="#" th:href="@{/}" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
      <a href="#" th:href="@{/types/-1}" class="m-item item m-mobile-hide"><i class="clone outline icon"></i>分类</a>
      <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide"><i class="clock icon"></i>时间轴</a>
      <a href="#" th:href="@{/message}" class="m-item item m-mobile-hide"><i class="book icon"></i>留言板</a>
      <a href="#" th:href="@{/friends}" class="active m-item item m-mobile-hide"><i class="pencil alternate icon"></i>友人帐</a>
      <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
      <!--</div>-->
      <div class="right m-item item m-mobile-hide">
        <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
          <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
            <input style="color: white" type="text" name="query" placeholder="Search...." th:value="${query}">
            <i onclick="document.forms['search'].submit()" class="search link icon"></i>
          </div>
        </form>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
    <i class="sidebar icon"></i>
  </a>
</nav>


<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
  <img src="../static/images/friendsbg.jpg" th:src="@{/images/friendsbg.jpg}" alt="" class="ui m-bg image" style="width: 100%;height: 100%;opacity: 0.7">
  <div class="m-bg-class_cover">
    <div align="center">
      <div class="ui container" align="center" style="position: relative ;bottom: -540px;" >
        <div class="m-font-size-title " align="center" style="font-family:'STXingkai'">友人帐</div>
        <div class="m-font-size-text-init-title m-margin-top" align="center">转瞬即逝的相逢与离别，每一个瞬间，都要珍惜</div>
      </div>
    </div>
  </div>
</div>

<!--中间内容-->
<div  class="m-margin- animated fadeIn">
  <div class="ui m-opacity container">
    <div class="box-shadow-max">
      <div class="ui segment m-padded-tb-large m-opacity">
        <div class="ui container">
          <div class="" style="font-size: 35px;font-weight: bold" align="center">友人入帐须知</div>
          <ui class="list">
            <div class="m-margin-left-mini m-margin-tb-tiny" style="font-size: large;font-weight: bold">申请格式</div>
            <br>
            <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">博客标题：</li>
            <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">博客地址：</li>
            <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">图片地址：</li>
          </ui>
        </div>
      </div>
    </div>

    <!--友人帐区域-->
    <div class="box-shadow-max">
      <div class="ui top attached teal m-opacityFriendImg segment box-shadow-max">
        <div class="ui m-padded-tb-large m-container-tiny">
          <div class="ui stackable m-container-mini m-opacityFriendImg grid">
            <!--友人帐显示区域-->
            <div class="m-margin-tb-tiny four wide column" th:each="friendlink : ${friendlinks}">
              <a href="#" class="class_outer" th:href="@{${friendlink.linkAddress}}" target="_blank">
                <div align="center">
                  <div class="friends-link">
                    <img src="../static/images/me.jpg" th:src="@{${friendlink.avatar}}"  alt="" class="friends-link-image" style="opacity: 1">
                    <div class="m-margin-top">
                      <h4 class="m-font-size-text-friends m-margin-tb-tiny" th:text="${friendlink.linkDes}">某洋</h4>
                    </div>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<br>
<br>
<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">
  <!--容器-->
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="seven wide column">
        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >联系我</div>
        <div class="ui inverted link list">
          <div href="#" class="m-text-thin">Email：3148537853@qq.com</div>
          <div href="#" class="m-text-thin">QQ：3148537853</div>
        </div>
      </div>

      <div class="seven wide column">
        <div style="font-size: large;font-weight: bold" class="ui inverted  m-text-thin m-text-spaced m-margin-top">博客信息</div>
        <!--<p id="htmer_time" class="item m-text-thin"></p>-->
        <div id="blog-message">
          <div class="ui inverted link list" style="align-content: center;margin-top: 10px" th:fragment="blogMessage">
            <div class="m-text-thin" style="text-align: left;margin-left: 180px;">
              文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogTotal}"> 2000 </h2> 篇
            </div>
            <div class="m-text-thin" style="text-align: left;margin-left: 180px">
              访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogViewTotal}"> 2000 </h2> 次
            </div>
            <div class="m-text-thin" style="text-align: left;margin-left: 180px">
              评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogCommentTotal}"> 2000 </h2> 条
            </div>
            <div class="m-text-thin" style="text-align: left;margin-left: 180px">
              留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogMessageTotal}"> 2000 </h2> 条
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>




<script>


  $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");


</script>

</body>
</html>